@using Microsoft.AspNet.Identity
@model GroupProject.WebApp.Models.GameViewModels.SinglePlayerViewModel

<section id="iq-suggestede">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 overflow-hidden">
                <div class="iq-main-header d-flex align-items-center justify-content-between">
                    <h4 class="main-title">Games We Recommend</h4>
                </div>
                <div class="suggestede-contens">
                    <ul class="list-inline favorites-slider row p-0 mb-0">
                        @foreach (var game in Model.GamesWeRecommend)
                        {
                            <li class="slide-item">
                                <div class="block-images position-relative">
                                    @if (string.IsNullOrEmpty(@game.Trailer))
                                    {
                                        <div class="img-box">
                                            <img src="https://localhost:44369/@game.Photo" class="img-fluid" alt="">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="video-wrap">
                                            <div id="video">
                                                <video id="bgvid" autoplay loop muted playsinline>
                                                    <source src="https://localhost:44369/@game.Trailer" type="video/mp4" />
                                                </video>
                                            </div>
                                        </div>
                                    }
                                    <div class="block-description">
                                        <h6 class="iq-title"><a href="#" class="detailsView" data-id="@game.GameId">@game.Title</a></h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <img src="https://localhost:44369/@game.Pegi.PegiPhoto" alt="Alternate Text" class="p-2 " width="50" />
                                            <span class="text-white">@game.Tag.ToString() &nbsp;</span>
                                        </div>
                                        <div class="hover-buttons">
                                            @if (game.IsReleased || game.IsEarlyAccess.HasValue)
                                            {
                                                <a href="~/game/play/@game.GameId" class="btn btn-hover">
                                                    <i class="fa fa-play mr-2"
                                                       aria-hidden="true"></i>Play Now
                                                </a>

                                            }
                                            else
                                            {
                                                <a href="#" data-id="@game.GameId" class="detailsView btn btn-hover">
                                                    <i class="fa fa-info mr-2"
                                                       aria-hidden="true"></i>More info
                                                </a>
                                            }

                                        </div>
                                    </div>
                                    <div class="block-social-info">
                                        <ul class="list-inline p-0 m-0 music-play-lists">
                                            <li class="share">
                                                <span><i class="ri-share-fill"></i></span>
                                                <div class="share-box">
                                                    <div class="d-flex align-items-center">
                                                        <a href="https://www.facebook.com/sharer?https://localhost:44369/@game.Photo" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                        <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                        <a href="#" data-link="@game.GameUrl" target="_blank" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="share">
                                                @if (@Model.RatedGames.Any(g => g.ApplicationUser.Id == User.Identity.GetUserId() && g.Game.GameId == game.GameId))
                                                {
                                                    <span class="ratingIcon"><i class="ri-star-fill"></i></span>
                                                    <div class="share-box ratingTooltip" style="--text:'Your Rating'">
                                                        <div data-id="@game.GameId" class="d-flex align-items-center">
                                                            @for (int i = 0; i < Model.RatedGames.Where(g => g.ApplicationUser.Id == User.Identity.GetUserId() && g.Game.GameId == game.GameId).Select(g => g.Rating).First(); i++)
                                                            {

                                                                <i class="fa fa-star text-primary" aria-hidden="true"></i>

                                                            }
                                                            @for (int i = 0; i < 5 - Model.RatedGames.Where(g => g.ApplicationUser.Id == User.Identity.GetUserId() && g.Game.GameId == game.GameId).Select(g => g.Rating).First(); i++)
                                                            {

                                                                <i class="fa fa-star" aria-hidden="true"></i>

                                                            }
                                                        </div>
                                                    </div>
                                                    <span class="count-box">@Model.RatedGames.Where(g => g.ApplicationUser.Id == User.Identity.GetUserId() && g.Game.GameId == game.GameId).Select(g => g.Rating).First()</span>
                                                }
                                                else
                                                {
                                                    <span class="ratingIcon"><i class="ri-star-fill"></i></span>
                                                    <div class="share-box ratingTooltip" style="--text:'Submit your Rating'">
                                                        <div class="d-flex align-items-center">
                                                            <i data-id="@game.GameId" class="addRating btn-link fa fa-star" value="1"></i>
                                                            <i data-id="@game.GameId" class="addRating btn-link fa fa-star" value="2"></i>
                                                            <i data-id="@game.GameId" class="addRating btn-link fa fa-star" value="3"></i>
                                                            <i data-id="@game.GameId" class="addRating btn-link fa fa-star" value="4"></i>
                                                            <i data-id="@game.GameId" class="addRating btn-link fa fa-star" value="5"></i>
                                                        </div>
                                                    </div>
                                                    <span hidden class="count-box show-rating"></span>
                                                }
                                            </li>
                                            @if (game.IsReleased || game.IsEarlyAccess.HasValue)
                                            {
                                                <li>
                                                    @if (@Model.MyList.Any(g => g.GameId == game.GameId))
                                                    {
                                                        <span data-id="@game.GameId" class="addToList mylist" style="--text:'Remove from My List'"><i class="fa fa-check-circle-o"></i></span>
                                                    }
                                                    else
                                                    {
                                                        <span data-id="@game.GameId" class="addToList mylist" style="--text:'Add to My List'"><i class="ri-add-line"></i></span>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>
