@model GroupProject.WebApp.Models.ManageViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password -InstaGames";
}


<section class="sign-in-page">
    <div class="container">
        <div class="row justify-content-center align-items-center height-self-center">
            <div class="col-lg-7 col-md-12 align-self-center">
                <div class="sign-user_card ">
                    <div class="sign-in-page-data">
                        <div class="sign-in-from w-100 m-auto">

                            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4 class="text-primary text-center">Change Password Form</h4>
                                <hr />
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.OldPassword, new { @class = "text-primary" })
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control mb-0" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.NewPassword, new { @class = "text-primary" })
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control mb-0" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "text-primary" })
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control mb-0" })
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-hover my-2">Change Password</button>
                                </div>
                                
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}