@model GroupProject.WebApp.Models.HomeViewModel.IndexViewModel

<section id="iq-suggestede" class="s-margin">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 overflow-hidden">
                <div class="iq-main-header d-flex align-items-center justify-content-between">
                    <h4 class="main-title">Suggested For You</h4>
                    <a class="iq-view-all" href="~/game/singleplayer">View All</a>
                </div>
                <div class="suggestede-contens">
                    <ul class="list-inline favorites-slider row p-0 mb-0">
                        @foreach (var game in Model.LatestGames)
                        {
                            <li class="slide-item">
                                <div class="block-images position-relative">
                                    <div class="img-box">
                                        <img src="@game.Photo" class="img-fluid" alt="game photo">
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title"><a class="detailsView" data-id="@game.GameId" href="#">@game.Title</a></h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <img src="@game.Pegi.PegiPhoto" alt="Alternate Text" class="p-2 " width="50" />
                                        </div>
                                        <div class="hover-buttons">
                                            <a href="~/game/play/@game.GameId" class="btn btn-hover iq-button">
                                                <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                Play Now
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-social-info">
                                        <ul class="list-inline p-0 m-0 music-play-lists">
                                            <li class="share">
                                                <span><i class="ri-share-fill"></i></span>
                                                <div class="share-box">
                                                    <div class="d-flex align-items-center">
                                                        <a href="https://www.facebook.com/sharer?@game.Photo" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                        <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                        <a href="#" data-link="@game.GameUrl" target="_blank" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <span><i class="ri-heart-fill"></i></span>
                                                <span class="count-box">19+</span>
                                            </li>
                                            <li>
                                                @if (@Model.MyList.Any(g => g.GameId == game.GameId))
                                                {
                                                    <span data-id="@game.GameId" class="addToList"><i class="fa fa-check-circle-o"></i></span>
                                                }
                                                else
                                                {
                                                    <span data-id="@game.GameId" class="addToList"><i class="ri-add-line"></i></span>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
