@model GroupProject.WebApp.Models.HomeViewModel.IndexViewModel
<section id="iq-trending" class="s-margin">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 overflow-hidden">
                <div class="iq-main-header d-flex align-items-center justify-content-between">
                    <h4 class="main-title">Games</h4>
                </div>
                <div class="trending-contens">
                    <ul id="trending-slider-nav" class="list-inline p-0 mb-0 row align-items-center">
                        @foreach (var game in Model.Games)
                        {

                            <li>
                                <a href="javascript:void(0);">
                                    <div class="movie-slick position-relative">
                                        <img src="@game.Photo" class="img-fluid" alt="">
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                    <ul id="trending-slider" class="list-inline p-0 m-0  d-flex align-items-center">
                        @foreach (var game in Model.Games)
                        {
                            <li>
                                <div class="tranding-block position-relative"
                                     style="background-image: url(@game.Photo);">

                                    <div class="trending-content">
                                        <div id="trending-data1" class="overview-tab tab-pane fade active show">
                                            <div class="trending-info align-items-center w-100 animated fadeInUp">
                                                <a href="javascript:void(0);" tabindex="0">
                                                    <div class="res-logo">
                                                        <div class="channel-logo">
                                                            <img src="/Content/images/logo.png" class="c-logo" alt="InstaGames">
                                                        </div>
                                                    </div>
                                                </a>
                                                <h1 class="trending-text big-title text-uppercase"><a class="detailsView" data-id="@game.GameId" href="#"> @game.Title</a></h1>

                                                <div class="d-flex align-items-center text-white text-detail">
                                                    <img src="@game.Pegi.PegiPhoto" alt="Alternate Text" class="p-2" width="50" />
                                                    <span class="ml-3">@game.Tag</span>
                                                    <span class="trending-year">@game.ReleaseDate.Year</span>
                                                </div>
                                                <div class="d-flex align-items-center series mb-4">
                                                    <ul class="ratting-start p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left">
                                                        @for (int i = 0; i < @game.Rating; i++)
                                                        {
                                                            <li>
                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                            </li>
                                                        }
                                                        @for (int i = 0; i < 5 - @game.Rating; i++)
                                                        {
                                                            <li>
                                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                            </li>
                                                        }
                                                    </ul>
                                                    @if (game.Rating == 0)
                                                    {
                                                        <span class="text-white ml-2">Unrated</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="text-white ml-2">@game.Rating <small style="font-size:10px">(User Score)</small></span>
                                                    }
                                                </div>
                                                <p class="trending-dec">
                                                    @game.Description
                                                </p>
                                                <div class="p-btns">
                                                    <div class="d-flex align-items-center p-0">
                                                        @if (game.IsReleased)
                                                        {
                                                            <a href="~/game/play/@game.GameId" class="btn btn-hover mr-2" tabindex="0">
                                                                <i class="fa fa-play mr-2" aria-hidden="true"></i>Play Now
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" class="detailsView btn btn-hover mr-2" data-id="@game.GameId" tabindex="0">
                                                                <i class="fa fa-info mr-2" aria-hidden="true"></i>More Info
                                                            </a>
                                                        }
                                                        <a href="javascript:void(0);" class="btn btn-link addToList" tabindex="0" data-id="@game.GameId">
                                                            <i class="ri-add-line"></i>MyList
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="trending-list mt-4">
                                                    <div class="text-primary title">
                                                        Developers:
                                                        <span class="text-body">
                                                            @foreach (var dev in game.GameDevelopers)
                                                            {
                                                                <span>@dev.FirstName &nbsp;</span>
                                                            }
                                                        </span>
                                                    </div>
                                                    <div class="text-primary title">
                                                        Genres:
                                                        <span class="text-body">
                                                            @foreach (var cat in game.GameCategories)
                                                            {
                                                                <span>@cat.Type &nbsp;</span>
                                                            }
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
