@using Microsoft.AspNet.Identity;
@model GroupProject.WebApp.Models.GameViewModels.SinglePlayerViewModel

<div id="loading">
    <div id="loading-center">
    </div>
</div>

@Html.Partial("_DetailsViewModal")

<!-- Slider Start -->
@Html.Partial("SinglePlayerPartials/Slider")
<!-- Slider End -->
<!-- MainContent -->
<div class="main-content">

    <!--Games For Children-->
    @Html.Partial("SinglePlayerPartials/GamesForChildren")
    <!--Games For Children-->
    <!--Best Action Games-->
    @Html.Partial("SinglePlayerPartials/BestActionGames")
    <!--Best Action Games-->
    <!--Games We Recommend-->
    @Html.Partial("SinglePlayerPartials/GamesWeRecommend")
    <!--Games We Recommend-->
    <!--Games Released 2021-->
    @Html.Partial("SinglePlayerPartials/GamesReleased2021")
    <!--Games Released 2021-->

</div>

@section scripts{
    @Scripts.Render("~/bundles/DetailsModalScript")
    @Scripts.Render("~/bundles/CategorySection")

    <script> var userId = "@HttpContext.Current.User.Identity.GetUserId()"; </script>
    <script src="~/Scripts/jsFrontend/MyList.js"></script>
}

