@model GroupProject.WebApp.Models.GameViewModels.SinglePlayerViewModel

<div id="loading">
    <div id="loading-center">
    </div>
</div>

@Html.Partial("SinglePlayerPartials/DetailsViewModal")

<!-- Slider Start -->
@Html.Partial("SinglePlayerPartials/Slider")
<!-- Slider End -->
<!-- MainContent -->
<div class="main-content">

    <!--Games For Children-->
    @Html.Partial("SinglePlayerPartials/GamesForChildren")
    <!--Games For Children-->
    <!--Best Action Games-->
    @Html.Partial("SinglePlayerPartials/BestActionGames")
    <!--Best Action Games-->
    <!--Games We Recommend-->
   @Html.Partial("SinglePlayerPartials/GamesWeRecommend")
    <!--Games We Recommend-->
</div>

@section scripts{
    @Scripts.Render("~/bundles/DetailsModalScript")
}
