@model GroupProject.WebApp.Models.HomeViewModel.IndexViewModel
@{
    ViewBag.Title = "MyList";
    Layout = "~/Views/Shared/_NavbarOnlyLayout.cshtml";
}

<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!--Details Modal-->
@Html.Partial("_DetailsViewModal")
<!--Details Modal-->

<div class="main-content mb-5">
    <section class="container-fluid seasons">
        <div class="tab-content">
            <div class="tab-pane fade active show" role="tabpanel">
                <div class="block-space">
                    <h5 class="iq-view-all mt-5">My List</h5>
                    <div class="row mb-5 mt-5">
                        @foreach (var game in Model.MyList)
                        {
                            <div class="col-1-5 col-md-6 iq-mb-30">
                                <div class="epi-box">
                                    <div class="epi-img position-relative">
                                        <img src="@game.Photo" class="img-fluid img-zoom" alt="">
                                        <div class="episode-number text-center">@game.Title</div>
                                        <div class="episode-play-info">

                                            @if (game.IsReleased)
                                            {
                                                <div id="playBtn" class="episode-play">
                                                    <a href="/game/play/@game.GameId"><i class="fa fa-play"></i></a>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                    <div class="epi-desc p-3">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span class="text-white">@game.ReleaseDate.ToString("d")</span>
                                            <img src="@game.Pegi.PegiPhoto" width="20" />
                                        </div>
                                        <h6 class="epi-name text-white mb-0 pt-2">
                                            <a class="detailsView" data-id="@game.GameId" href="#">@game.Description</a>
                                        </h6>
                                        <!--Rating Logic -->
                                        <ul class="ratting-start p-1 m-0 list-inline text-primary d-flex align-items-center justify-content-left">
                                            @for (int i = 0; i < game.Rating; i++)
                                            {
                                                <li>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </li>
                                            }
                                            @for (int i = 0; i < 5 - game.Rating; i++)
                                            {
                                                <li>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </li>
                                            }
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    @Scripts.Render("~/bundles/DetailsModalScript")
}